!!! 5

%h1
  The Swift Poems Project
%h2
  Swift Poem Annotation Collections
- Dir.foreach(appPath) do |collId|

  - if collId != '.' and collId != '..' and File.directory? "#{appPath}/#{collId}"
    %h3=collId
    %ul
      - Dir.foreach("#{appPath}/#{collId}") do |docId|

        - if docId != '.' and docId != '..' and not File.directory? "#{appPath}/#{collId}/#{docId}"
          %li
            %a(title=docId){:href => "/spp/#{collId}/#{docId}"} #{docId} (TEI P5)
          %li
            %a(title=docId){:href => "/spp/xhtml/#{collId}/#{docId}"} #{docId} (XHTML 1.1)
