!!! 5

%h1
  Swift Encode
%h2
  Encoding Engine for the Swift Poems Project
%h3
  Sources
- Dir.foreach(appPath) do |collId|
  %ul
  - if collId != '.' and collId != '..' and File.directory? "#{appPath}/#{collId}" and not ignoredDirs.include? collId
    %li
      %a(title=collId){:href => "##{collId}"}=collId
- Dir.foreach(appPath) do |collId|
  - if collId != '.' and collId != '..' and File.directory? "#{appPath}/#{collId}" and not ignoredDirs.include? collId
    %h4
      %a(name=collId)=collId
    %table
      %tr
        %th Transcript ID
        %th TEI
        %th HTML
      - Dir.foreach("#{appPath}/#{collId}") do |docId|
        - if docId != '.' and docId != '..' and not File.directory? "#{appPath}/#{collId}/#{docId}" and not ignoredFiles.include? docId
          %tr
            %td=docId
            %td
              %a(title=docId){:href => "encode/#{collId}/#{docId}"} Download
            %td
              %a(title=docId){:href => "encode/#{collId}/#{docId}/html"} View
